table{
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}
#title{
    font-size: xx-large;
    background-color: blue;
    color: white;
    padding: .5em;
}
tr{
    background-color: lightblue;
    border-top: 1px solid;
    width: 100%;
}
input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


